body {background-color: white}
h1 {font-family: Arial,sans-serif; font-size: 16pt; font-weight: bold; text-align: justify}
h2 {font-family: 'Times New Roman', Times, serif; font-size: 14pt; font-weight: bold; font-style: italic}
p {font-family: Arial,sans-serif; font-size: 10pt; text-align: justify; line-height: 170%}
li {font-family: Arial,sans-serif; font-size: 10pt; text-align: justify; line-height: 170%}
.subheading {font-weight: bold; font-style: italic}