{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the paper overlay display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required localised strings -
lang.ok - ok
lang.questionmark - ?
lang.pass - pass
lang.cancel - cancel
#}
<div id="overlay">
  <div id="submit_dialog" class="dialogs">
    <div id="submit_dialog_icon"><img src="../artwork/question_mark_64.png" width="64" height="64" alt="{{lang.questionmark}}" /></div><p id="submit_dialog_msg"></p>
    <div id="submit_dialog_buttons"><input type="button" name="dialog_ok" id="dialog_ok" class="ok" value="{{lang.ok}}" /><input type="button" name="dialog_cancel" id="dialog_cancel" class="cancel" value="{{lang.cancel}}" />&nbsp;&nbsp;</div>
  </div>
  <div id="enhancedcalc_warning" class="dialogs">
    <div id="enhancedcalc_warning_icon">
        <img src="../artwork/question_mark_64.png" width="64" height="64" alt="{{lang.questionmark}}" />
    </div>
    <p id="enhancedcalc_warning_msg"></p>
    <div id="enhancedcalc_warning_buttons">
        <input type="button" name="dialog_cancel" id="enhancedcalc_warning_cancel" value="{{lang.goback}}" />
        <input type="button" name="dialog_ok" id="enhancedcalc_warning_ok" value="{{lang.pass}}" />
        &nbsp;&nbsp;
    </div>
  </div>
</div>
<div id="info_overlay">
  <div id="info_submit_dialog">
    <div id="info_submit_dialog_icon"><img src="../artwork/question_mark_64.png" width="64" height="64" alt="{{lang.questionmark}}" /></div><p id="info_submit_dialog_msg"></p>
    <div id="info_submit_dialog_buttons"><input type="button" name="info_dialog_ok" id="info_dialog_ok" class="ok" value="OK" /></div>
  </div>
</div>