{#This file is part of ExamSys

 ExamSys is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ExamSys is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the flash question type.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.questionno - the question number
data.displayscenario - flag to indicate if there is a scenario to display
data.scenario - the question scenario

Required localised strings -

lang.flashendoflife - flash end of life message
#}
<div align="center">
    {% if data.displayscenario %}
    <div>{{data.scenario}}</div>
    {% endif %}
    <div class="error">{{lang.flashendoflife}}</div>
</div>
<input type="hidden" id="q{{data.questionno}}" name="q{{data.questionno}}" value="0,0" />
