{#This file is part of ExamSys

 ExamSys is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ExamSys is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the multiple choice question type with vertical radio buttons display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.unanswered - flag to indicate if question has previously been answered
data.questionno - question number
data.options - the options
options.selected - flag to indicate if option has previously been selected
options.optiontextdisplay - flag to indicate if there is option text to display
options.displayoptionmedia - flag to indicate if there is option media to display
options.optionmedia - the option media
options.optiontext - the option text
options.position - option position
options.inact - flag to indicate if option  has previously been set as dismissed
data.negativemarking - flag to indicate if negative marking is enabled
data.abstainselected - flag to indicate if abstain option has previously been selected
data.dismiss - record of which options have been dismissed by the user

Required localised text -
lang.abstain - abstain
#}
<div {% if data.unanswered %} class="unans" {% endif %}>
    <ul class="vertical">
{% for i,p in data.options %}
        <li class="question-container">
            <label class="optiontext">
                <input type="radio" name="q{{data.questionno}}" value="{{p.position}}" {% if p.selected %} checked="checked" {% endif %}/>
                {% if p.optiontextdisplay %}
                <span {% if p.inact %} class="inact" {% else %} class="act" {% endif %} id="{{data.questionno}}_{{p.position}}"> {{p.optiontext|raw}}</span></br>
                {% endif %}
                {% if p.displayoptionmedia %}
                {% include 'paper/media.html' with {'data': p.optionmedia} %}
                {% endif %}
            </label>
        </li>
{% endfor %}
{% if data.negativemarking %}
        <li class="question-container">
            <label id="abstain{{data.questionno}}" class="optiontext note">
                <input type="radio" name="q{{data.questionno}}" value="a" {% if data.abstainselected %} checked="checked" {% endif %}/>
                <span>{{lang.abstain}}</span>
            </label>
        </li>
{% endif %}
    </ul>
    <div>
        <input type="hidden" name="dismiss{{data.questionno}}" id="dismiss{{data.questionno}}" value="{{data.dismiss}}" />
    </div>
</div>
