<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html;charset={{charset}}" />
  <title>{{lang.title}}</title>
  <link rel="stylesheet" type="text/css" href="{{path}}/css/body.css" />
  <link rel="stylesheet" type="text/css" href="{{path}}/css/check_delete.css" />
  <script type="text/javascript" src="{{path}}/js/jquery-1.11.1.min.js"></script>
  {{additionaljs|raw}}
</head>

<body>

<p>{{lang.success}}<p>

<div class="button_bar">
  <form action="" method="get" autocomplete="off">
    <input type="button" name="ok" value="OK" class="ok" onclick="javascript:window.close();"/>
  </form>
</div>

</body>
</html>