{#This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the anomalies report

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2021 onwards The University of Nottingham

Required variables:

path - root path for ExamSys
links - breadcrumb links
current - current page breadcrumb
toprightmenu - the menu
from - the index of the first search result on screen
to - the index of the last search result on screen
total - the total number of search results
pageinfo - search result page info
noanomalies - flag that indicates if there are anomalies or not
items - the anomaly data

Required localised language strings -
lang.title
lang.titlefromto
lang.pagecount
lang.noanomalies
lang.anomalies
anomalieskey1
timestamp
name
side
type
screen
details
#}
<div class="head_title">
    <nav class="navmenu">
        <img tabindex="0" src="../artwork/toprightmenu.gif" id="toprightmenu_icon" alt="{{lang.menu}}"/>
    </nav>
    <div class="breadcrumb">
        {% for href, title in data.links %}
        <a href="{{ path }}{{ href }}">{{ title }}</a>
        <img src="{{ path }}/artwork/breadcrumb_arrow.png" class="breadcrumb_arrow" alt="-" />
        {% endfor %}
        {{ data.current }}
    </div>
    {{data.toprightmenu|raw}}
    <h1 class="page_title">
        {% if total %}
        {{lang.titlefromto | format(data.anomalies.from, data.anomalies.to, data.anomalies.total)}}
        {% else %}
        {{lang.title}}
        {% endif %}
    </h1>
    <nav class="pagecount" aria-label="{{lang.pagecount}}">
        <ol>
            {% for idx,info in data.anomalies.pageinfo %}
            {% if info.selected %}
            <li aria-current="true" class="navigation pageselected">
                {{idx}}
                {% else %}
            <li class="navigation">
                <a href="{{info.url}}">{{idx}}</a>
                {% endif %}
                <p class="tab">|</p></li>
            {% endfor %}
        </ol>
    </nav>
</div>
<div id="content">
    <main>
        {% if data.noanomalies %}
        <div class="yellowwarn">{{lang.noanomalies}}</div>
        {% else %}
        <div class="greywarn details">
            <div>{{lang.anomalies}}</div>
            <ul>
                <li>{{lang.anomalieskey1}}</li>
            </ul>
        </div>
        <input type="hidden" id="datetime" value="{{data.datetime}}" />
        <table id="maindata" class="header tablesorter">
            <thead>
                <tr>
                    <th>{{lang.timestamp}}</th>
                    <th>{{lang.name}}</th>
                    <th>{{lang.sid}}</th>
                    <th>{{lang.type}}</th>
                    <th>{{lang.screen}}</th>
                    <th>{{lang.details}}</th>
                </tr>
            </thead>
            <tbody>
            {% for i, item in data.anomalies.items %}
                <tr>
                    <td>{{item.timestamp}}</td>
                    <td><a href="{{path}}/users/details.php?userID={{item.userid}}">{{item.forename}} {{item.surname}}</a></td>
                    <td>{{item.sid}}</td>
                    <td>{{lang[item.type]}}</td>
                    <td>{{item.screen}}</td>
                    <td>
                    {% for key,value in item.details %}
                        <span class="details">{{key}} : {{value}}</span>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </main>
</div>
