{#This file is part of ExamSys

 ExamSys is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ExamSys is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the true/false type with horizontal radio button display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.questionno - question number
data.unanswered - flag to indicate if question has previously been answered
data.trueselected - flag to indicate if true has previously been selected
data.falseselected - flag to indicate if false has previously been selected
data.abstainselected - flag to indicate if abstain has previously been selected
data.negativemarking - flag to indicate if negative marking is enabled

Required localised text -
lang.true - true
lang.false - false
lang.abstain - abstain
#}
<div style="line-height:175%" {% if data.unanswered %} class="unans" {% endif %}>
    <ul class="horizontal">
        <li class="question-container">
            <label id="q{{data.questionno}}true" class="optiontext">
                <input type="radio" name="q{{data.questionno}}" value="t" {% if data.trueselected %} checked="checked" {% endif %} />
                <span>{{lang.true}}</span>
            </label>
        </li>
        <li class="question-container">
            <label id="q{{data.questionno}}false" class="optiontext">
                <input type="radio" name="q{{data.questionno}}" value="f" {% if data.falseselected%} checked="checked" {% endif %} />
                <span>{{lang.false}}</span>
            </label>
        </li>
        {% if data.negativemarking %}
        <li class="question-container">
            <label id="abstain{{data.questionno}}" class="optiontext">
                <input type="radio" name="q{{data.questionno}}" value="a" {% if data.abstainselected %} checked="checked" {% endif %} />
                <span class="note">{{lang.abstain}}</span>
            </label>
        </li>
        {% endif %}
    </ul>
</div>
