{#This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for a statistics page header section.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2020 onwards The University of Nottingham

Required variables:
data - tab data from generateTabs->drawTabs
#}
<table class="header statsheader">
    <tr>
        <th colspan="2">
            <div id="yeartabs">
                {% include 'admin/yeartabs.html' %}
            </div>
        </th>
    </tr>
    <tr>
        <td id="statsfooter" colspan="2"></td>
    </tr>
</table>
