<div class="config">
    <div class="configheading">
        <label for="{{data.setting}}_host">{{data.setting}}</label>
        <img src="{{path}}/artwork/tooltip_icon.gif" class="help_tip" title="{{attribute(lang, data.setting)}}" />
    </div>
    {% if data.setting == 'system_mediatypes' or data.setting == 'paper_types' or data.setting == 'paper_anomaly_detection'%}
        <div class="configtable">
            {% for idx in data.item %}
            {{idx.i}}
            {% set checked = '' %}
            {% if idx.v == true %}
                {% set checked = 'checked' %}
            {% endif %}
            <input type="checkbox" id="{{data.setting}}_{{idx.i}}" name="{{data.setting}}_{{idx.i}}" {{checked}} {{data.disabled}} />
            {% endfor %}
        </div>
        {% if data.disabled != "" %}
        <div class="configextra">{{lang.fileoverride}}</div>
        {% endif %}
    {% else %}
        <div class="configvalue">
            {% for idx in data.item %}
                {{idx.i}}
                <input class="{{data.type}}" type="text" id="{{data.setting}}_{{idx.i}}" name="{{data.setting}}_{{idx.i}}" value="{{idx.v|raw}}" {{data.disabled}} />
                </br>
           {% endfor %}
            {% if data.disabled != "" %}
            <div class="configextra">{{lang.fileoverride}}</div>
            {% endif %}
        </div>
    {% endif %}
</div>
