Options -Indexes
<Files ~ "\.inc$">
  Order allow,deny
  Deny from all
</Files>

##
## Down for maintenance code - uncomment during upgrades
##
#Options -MultiViews +FollowSymLinks
#RewriteEngine On

## Only the IP address below will be able to access the site
#RewriteCond %{REMOTE_ADDR} !128.243.253.107 [NC]
#RewriteRule !(maintenance/.*)$ /maintenance/? [R=307,L]

