<div>
    <div class="box">
        <img src="{{path}}/artwork/lrg_maintenance.png" width="128" height="128" alt="{{lang.alticon}}" />
        <h1>{{lang.title}}</h1>
        <div>{{lang.msg}}</div>
		<hr>
		<div><a href="{{data.retry_path}}">{{lang.retry}}</a></div>
    </div>