body {
  background-color:#FAFAFA;
  color:black;
  font-size:90%;
}
.mainbox {
  background-color:#F1F5FB;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  padding:20px;
  width:400px;
  border:1px solid #95AEC8;
  border-radius:5px;
}

input[type=text], input[type='password'] {
  outline: none;
  border: 1px solid #C0C0C0;
  width: 160px;
}

input[type=text]:focus, input[type='password']:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow:0 0 10px #9ecaed;
}

.msg {
  font-size:90%;
  padding-bottom:10px;
}