body
{
    font-family: Tahoma;
    font-size: 10pt;
}

.clear 
{
    clear: both;
    padding: 0px !important;
    border: none !important;
    margin: 0px !important;
}

.mt_main
{
    /*border: 1px solid blue;*/
    background-color: #D9E4F3;
    border-bottom: 1px solid #8db2e3;
    height:24px;
}

.mee_toolbar
{
    background-color: #D9E4F3;
    height:25px;
}

.mt_orb
{
    border: 1px solid transparent;
    width:60px;
    display:block;
    /*position: relative;*/
    height:20px;
}

.mt_orb li
{
    border:1px solid blue;
}

.mt_orb li ul 
{
    border: 1px solid green;
    display: none;
}

.mt_tabs
{
    border: 1px solid transparent;
    width:60px;
    display:block;
    margin-top: -22px !important;
    margin-left: 70px !important;
    width:900px;
}

.mt_tabs li
{
    float: left;
    /*width: 60px;
    height: 20px;*/
}

.mt_tabs li a
{
    display: block;
    padding-top: 3px;
    text-decoration: none;
    margin-right: 0px;
    /*margin-top: 10px;*/
    height: 20px;
    width: 75px;
    text-align: center;
}

.mt_tabs li a.active 
{
    background-color: #D9E3F3;
    background-image: url(images/menuitem_background.png);
    background-repeat: no-repeat;
}

.mt_tabblock
{
    /*width:1000px;*/
    position: absolute;
    left: 8px;
    height:90px;
    border: 1px solid #8db2e3;
    border-bottom: 1px solid #9FAEC2;
    background-image: url(images/menu_background.png);
    background-repeat: repeat-x;
}

.mt_tabblock h2
{
    font-family: Calibri;
    font-size: 11px;
    font-weight: normal;
    margin: 0px auto;
    top: 65px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    color: #4E81C8;
}

.mt_tabblock  li
{
    border-right: 1px solid #ABC;
    height: 80px;
    margin-top: 5px !important;
    position: relative;
    padding: 0px 5px 0px 5px !important;
}

.clear
{
    float: none;
    clear:both;
}


ul.mt_main
{
    padding: 0px;
    margin: 0px;
}

ul.mt_main *
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


.mt_tabblock div
{
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.tb_symbol
{
    font-size: 120%;
    width: 22px;
    height: 22px;
}
.tb_symbol a
{
    border: 1px solid #808080;
    height: auto !important;
    width: auto !important;
    padding-top: 0px !important;
    height: 22px !important;
    width: 22px !important;
    cursor: pointer;
    
}

.tb_symbol a:hover
{
    /*border: 1px solid red;*/
}

/* Big icon based menu classes */
.tb_menu
{
    padding: 0px !important;
    margin: 0px !important;
}

.tb_menu a
{
    width: 55px !important;
    border:1px solid transparent;
    padding-top: 0px !important;
    height: auto !important;
    cursor: pointer;
}

.tb_menu a div
{
    float: none;
}

.tb_menu a:hover
{
    /*border:1px solid red;*/
}

.tb_menu .icon
{
}

.tb_menu .text
{
}

.tb_menu .arrow
{
}


/* Horizontal menu classes */
.tb_menu_horiz
{
    padding: 0px !important;
    margin: 0px !important;
}

.tb_menu_horiz a
{
    /*width: 120px !important;*/
    width: auto !important;
    white-space: nowrap !important;
    border:1px solid transparent;
    padding-top: 0px !important;
    cursor: pointer;
}

.tb_menu_horiz a:hover
{
    /*border:1px solid red !important;*/
}

.tb_menu_horiz .icon
{
}

.tb_menu_horiz .text
{
    padding-top: 1px;
}

.tb_menu_horiz .arrow
{
    /*padding-top: 7px;*/
}

/* fix for horiz menu stuff that goes all odd due to cascade */
.tb_menu_horiz .tb_popupmenu
{
    /*top: 20px;*/
    padding: 0px !important;
    margin-top:22px !important;
    
}

.tbpm_header
{
    margin: 0px !important;
    width: auto !important;
}

/* Popup menu classes */
.tb_popupmenu
{
    border: 1px solid #8492a6;
    width: 314px; /* needs to be definable in js file */
    clear: both;
    overflow: auto;
    max-height: 400px; /* needs to be definable in js file */
    position: absolute;
    /**display: none;*/
    background-color: White;
    z-index: 100;
    margin-left: 0px !important;
    margin-top: 1px !important;
}

.tb_popupmenu .tbpm_header
{
    background-color: #f3f7fb;
    float: none !important;
    clear: both !important;
    /*width: 100%;*/
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: -3px;
}

.tb_popupmenu .tbpm_item
{
    float: left;
    width: 66px;
    height: 84px;
    text-align:center;
    margin: 3px;
    border: 1px solid #cfdbeb;
}

.tb_popupmenu .tbpm_item .icon
{
    float: left;
    width: 64px;
    height: 64px;
}

.tbpm_item a
{
    width: auto !important;
}