<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html;charset={{charset}}"/>
{% for id,value in data.metadata %}
        <meta http-equiv="{{id}}" content="{{value}}"/>
{% endfor %}
        <title>{{"Rog&#333;:"|raw}} {{lang.title}}</title>

        <link rel="stylesheet" type="text/css" href="{{path}}/css/body.css"/>
{% for sheetname in data.css %}
        <link rel="stylesheet" type="text/css" href="{{path}}{{sheetname}}"/>
{% endfor %}
        <script id="rogoconfig"
                data-root="{{path}}"
                data-mathjax="{{data.mathjax}}"
                data-three="{{data.three}}"
                data-editor="{{data.editor}}">
        </script>
        <script src='{{path}}/js/require.js'></script>
        <script src='{{path}}/js/main.min.js'></script>
{% for scriptname in data.scripts %}
        <script src="{{path}}{{scriptname}}"></script>
{% endfor %}
        {% if data.texteditor != '' %}
            {% include data.texteditor %}
        {% endif %}
    </head>
    <body>
