<link rel="stylesheet" href="{{path}}/css/three.css" type="text/css" />
{% if data.threeenabled %}
<script src="{{path}}/node_modules/three/build/three.min.js"></script>
<script src="{{path}}/js/media/three/controlers/TrackballControls.min.js"></script>
<script src="{{path}}/js/media/three/threeshared.min.js"></script>
<script src="{{path}}/js/media/three/loaders/PLYLoader.min.js"></script>
<script src="{{path}}/js/media/three/ply.min.js"></script>
<script src="{{path}}/js/media/three/loaders/DDSLoader.min.js"></script>
<script src="{{path}}/js/media/three/loaders/MTLLoader.min.js"></script>
<script src="{{path}}/js/media/three/loaders/OBJLoader.min.js"></script>
<script src="{{path}}/js/media/three/obj.min.js"></script>
<script src="{{path}}/js/media/three/loaders/PDBLoader.min.js"></script>
<script src="{{path}}/js/media/three/renderers/CSS2DRenderer.min.js"></script>
<script src="{{path}}/js/media/three/pdb.min.js"></script>
{% endif %}