body {
    padding-left: 0;
}

table {
    border-spacing: 0;
}

.sechead,
thead,
thead th,
caption,
section h2 {
    background-color: #295AAD;
    color: white;
    text-align: left;
    font-size: 100%;
    font-weight: normal;
}

section h2 {
    margin: 0;
}

th[scope=row] {
    text-align: left;
    min-width: 25%;
    max-width: 50%;
}

.align-right {
    text-align: right;
}

a {
    color: #215DC6;
}

a.heading {
    color: #215DC6;
    font-weight: bold;
}

.warning {
    color: #C00000;
}

a.heading:hover {
    color: #428EFF;
    font-weight: bold;
}

.on {
    color: #008000;
    font-weight: bold;
}

.off {
    color: #C00000;
    font-weight: bold;
}

.drivespace {
    background-color: #EAEAEA;
    border: 0.063rem solid #808080;
    display: block;
    height: 0.688rem;
    width: 9.375rem;
}

.useddrivespace {
    background-color: #26A0DA;
    display: block;
    height: 0.688rem;
}

.useddrivespace.spacewarning {
    background-color: #DA2626;
}

.spaceinfo {
    color: #808080;
}

.partition {
    background-image: url("../artwork/drive_icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 3.125rem;
    padding-left: 3.25rem;
}

.directory {
    background-image: url("../artwork/yellow_folder.png");
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 3.125rem;
    padding-left: 3.25rem;
}

.partitionname,
.directoryname {
    font-size: 100%;
    margin-block-end: 0;
}

.columns,
.column {
    gap: 1.25rem 5.625rem;
    display: flex;
    flex-direction: row;
}

.columns {
    max-width: 68.75rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-top: 1.875rem;
}

.column {
    flex-direction: column;
    flex-grow: 1;
}

.column.wide {
    flex-grow: 2;
}

@media screen and (max-width: 60rem) {
    .column {
        order: 2;
    }
    .column.wide {
        order: 1;
        width: 100%;
    }
}
